

{% extends 'base.html' %}
<title>Post Detail</title>
{% block content %}
<h1>Post Detail</h1>
    <img src="{{ post.user.image.url }}" width="30px"> {{ post.user.username }}<br><br>
    {% if post.post_image %}
        <img src="{{ post.post_image.url }}">
    {% elif post.post_video %}
        <video>
            <source src="{{ post.post_video.url }}" type="video/mp4">
        </video>
    {% endif %}
    <h3>Topic: {{ post.topic }}</h3>
    <h2>{{ post.post_title }}</h2>
    {{ post.post_description }}<br><br><br>

    {% if post.user == request.user %}
       <a href=""><button>Delete</button></a>
    {% endif %}

    {% if user.is_authenticated %}
        <a href=""><button>Like</button></a>
        <a href=""><button>Comment</button></a>
        <a href=""><button>Save</button></a>
        <a href="{% url 'products:share-post' post.pk %}"><button>Share</button></a>
    {% endif %}
{% endblock content %}