{% extends 'base.html' %}
<title>Post Detail</title>
{% block content %}
<h1>Post Detail</h1>
<a href="{% url 'users:profile' post.user.pk %}"><img src="{{ post.user.image.url }}" width="30px"></a> {{ post.user.username }}<br><br>
{% if post.post_image %}
    <img src="{{ post.post_image.url }}">
{% elif post.post_video %}
    <video>
        <source src="{{ post.post_video.url }}" type="video/mp4">
    </video>
{% endif %}
<h3>Topic: {{ post.topic }}</h3>
<h2>{{ post.post_title }}</h2>
{{ post.post_description }}<br><br><br>

{% if post.user == request.user %}
   <a href=""><button>Delete</button></a>
{% endif %}

{% if user.is_authenticated %}
<button id="like-button" data-id="{{ post.pk }}" style="background-color: {% if user in post.likes.all %}red{% else %}white{% endif %};">
    Like
</button>
<span id="like-count">{{ post.total_likes }}</span>
<a href="{% url 'products:comments' post.pk %}"><button>Comment</button></a>
<a href="{% url 'products:share-post' post.pk %}"><button>Share</button></a><br><br>
<form action="{% url 'products:save-post' post.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Save</button>
</form>
{% for i in comment %}
    <h2>Comment: {{ i.comment }}</h2>
    <h2>Star_Given: {{ i.star_given }}</h2>
{% endfor %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#like-button').click(function() {
            var postId = $(this).data('id');
            var likeButton = $(this);
            var url = "{% url 'products:like-post' 0 %}".replace('0', postId);
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.liked) {
                        likeButton.css('background-color', 'red');
                    } else {
                        likeButton.css('background-color', 'white');
                    }
                    $('#like-count').text(response.total_likes);
                }
            });
        });
    });
</script>
{% endblock content %}
