/* General styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Header styles */
header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #23272b;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header img {
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #fff;
}

header h4 {
    margin: 10px 0 20px;
    font-size: 1.5em;
}

header button {
    background-color: #495057;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

header button:hover {
    background-color: #23272b;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
    text-align: center;
    border-top: 5px solid #23272b;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer button {
    background-color: #495057;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

footer button:hover {
    background-color: #23272b;
}

/* Separator line styles */
.separator-line {
    border: none;
    border-top: 2px solid #343a40;
    margin: 20px 0;
}
