{% extends 'base.html' %}
<title>Home Page</title>
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <h1>All Posts</h1>
    <h2>------------------</h2>
    {% for post in posts %}
        <h2>--------------------------------------------</h2>
        {% if post.user == request.user %}
            <a href="{% url 'users:my_profile' request.user.pk %}"><img src="{{ post.user.image.url }}" width="30px"></a> {{ post.user.username }}<br><br><br>
        {% else %}
            <a href="{% url 'users:profile' post.user.pk %}"><img src="{{ post.user.image.url }}" width="30px"></a> {{ post.user.username }}<br><br><br>
        {% endif %}

        {% if post.post_image %}
            <a href="{% url 'products:post-detail' post.pk %}"><img src="{{ post.post_image.url }}" width="300px"></a>
            <h3>{{ post.post_title }}</h3>
        {% elif post.post_video %}
            <video width="640" height="480" controls>
                <a href="{% url 'products:post-detail' post.pk %}"><source src="{{ post.post_video.url }}" type="video/mp4"></a>
            </video>
        {% else %}
            <h3><a href="">{{ post.post_title }}</a></h3>
        {% endif %}

        {% if user.is_authenticated %}
            <button class="like-button" data-id="{{ post.pk }}" style="background-color: {% if user in post.likes.all %}red{% else %}white{% endif %};">
                Like
            </button>
            <span class="like-count">{{ post.total_likes }}</span>
            <a href="{% url 'products:comments' post.pk %}"><button>Comment</button></a>
            <a href="{% url 'products:share-post' post.pk %}"><button>Share</button></a><br><br>
            <form action="{% url 'products:save-post' post.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Save</button>
            </form>
            {% for i in comment %}
                <h2>Comment: {{ i.comment }}</h2>
                <h2>Star_Given: {{ i.star_given }}</h2>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.like-button').click(function() {
                var postId = $(this).data('id');
                var likeButton = $(this);
                var likeCount = likeButton.next('.like-count');
                var url = "{% url 'products:like-post' 0 %}".replace('0', postId);
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.liked) {
                            likeButton.css('background-color', 'red');
                        } else {
                            likeButton.css('background-color', 'white');
                        }
                        likeCount.text(response.total_likes);
                    }
                });
            });
        });
    </script>
{% endblock content %}
