

{% extends 'base.html' %}
<title>Home Page</title>
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <h1>All Posts</h1>
    <h2>------------------</h2>
    {% for post in posts %}
        <h2>--------------------------------------------</h2>
        <a href=""><img src="{{ post.user.image.url }}" width="30px"></a> {{ post.user.username }}<br><br><br>
        {% if post.post_image %}
            <a href=""><img src="{{ post.post_image.url }}"></a>
            <h3>{{ post.post_title }}</h3>
        {% elif post.post_video %}
            <video width="640" height="480" controls>
                <a href=""><source src="{{ post.post_video.url }}" type="video/mp4"></a>
            </video>
        {% else %}
            <h3><a href="">{{ post.post_title }}</a></h3>
        {% endif %}

        <a href=""><button>Like</button></a>
        <a href=""><button>Comment</button></a>
        <a href=""><button>Save</button></a>
    {% endfor %}
{% endblock content %}